@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F1FF;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}
.primary-button{
    outline: 0;
    border: none;
    width: 196px;
    height: 44px;
    color: white;
    background-color: #E02C6D;
    border-radius: 41px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 15px;
}
.navigation li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 13px;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.banner-left h1{
    font-size: 30px;
}
.banner-left p{
    font-size: 18px;
    font-weight: 550;
    line-height: 1.5;
    margin: 20px 0;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
}

.banner-right img{
    width: 70%;
}
/*-----------------------------
------------ header  done
------------------------------ */
.section-title{
    text-align: center;
}
.section-title h2{
    font-size: 25px;
    display: inline-block;
    border-bottom: 2px solid #E02C6D;
    margin: 50px 0;
}
/*------------------- collection style----------------- */

.collections{
    padding-left: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    

}
.rating{
    display: flex;
}
.collection .collection-banner{
    width: 300px;
    height: 256px;
}
.collection-banner img{
    width: 300px;
    height: 256px;
}
.collection{
    width: 300px;
    height: 390px;
    border: 1px solid rgba(224, 44, 109, 0.87);;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
}
.fa-star{
    width: 16px;
    height: 16px;
    left: 28px;
    padding-left: 6px;
}
.fa-star.filled{
    color: goldenrod;
}
.fa-star.empty{
    color: grey;
}
.title{
    padding-top: 8px;
}
.price{
    padding-top: 5px;
    padding-bottom: 3px;
}
.details{
    font-weight: 700px;
    font-size: 18px;
}
#see-button{
    
   border: none;
   color: #E02C6D;
   font-weight: 600;
   font-size: 16px;
   padding-left: 1000px;
}
/* -----------------last part----------------------- */
.last-section{
    padding-top: 60px;
    display: flex;
}
.last-left img{
    width: 80%;
    padding-left: 50px;
    padding-bottom: 50px;
}
.last-right h2{
    line-height: 30px;
    font-size: larger;

}
.last-right p{
    line-height: 25px;
    padding-bottom: 10px;
}
footer{
    background-color: rgb(5, 5, 24);
    color: white;
    padding-top: 60px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
}
/*-------------------- media quueries------------------ */

@media screen and (max-width:480px) {
    .banner{
        display: grid;
        grid-template-columns: 1fr;
    
    }
    .banner-left{
        order: 2;
    }
    .collection-banner img{
        width: 250px;
    
    }
    .collection{
        border: none;
    }
    .collections{
        grid-template-columns: 1fr;
    }
    .banner-left h1{
        font-size: 25px;
    }
    .banner-left p{
        font-size: 14px;
    }
    .banner-right img{
        width: 300px;
        height: 300px;
    }
    .last-section{
        display: grid;
        grid-template-columns: 1fr;
    
    }
    .last-right{
        padding-left: 45px;
    }
    .primary-button{
        margin-bottom: 15px;
    }
    
}
@media screen and (min-width:481) and (max-width:850){
    .collections{
        grid-template-columns: 1fr 1fr;
    }
    
}
